@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

body {
	font-size: 13px;
	font-family: 'Tahoma', 'Helvetica', sans-serif;
	background-color: #f1f1f1;
}
/*Header style*/
h1 {
	color: #37a0ef;
	font-weight: 100;
	width: 80%;
	margin: 20px auto;
	background-color: #fafafa;
	border-bottom: 2px dotted #dddddd;
    font-size: 2.5rem;
    padding: 20px;
}

h2 {
	font-size: 1.5rem;
    margin: 10px 0 0;
    font-weight: bolder;
    font-family: Anton;
}

/*Search form style*/
section {
	width: 80%;
    margin: 0 auto;
}
article {
	display: grid;
}
input, select {
	border-radius: 5px;
	line-height: 18px;
	border: 2px solid #d3d3d3;
	margin: 5px 0;
	box-sizing: border-box;
	padding: 5px 0 5px 5px;
	width: 200px;
}

::placeholder{
	color: #b7adb5;
}

form#search {
    padding: 40px 0;
	text-align: right;
}

form#search span {
	font-weight: bold;
}

form#search i {
    position: absolute;
    margin-top: 9px;
    right: 10.5%;
    font-size: 1.5rem;
}
/*Request form style*/
article.request-form{
	height: 170px;
	border-bottom: 2px dotted #dddddd;
}
form#request-form {
	display: flex;
}
form#request-form #p-details {
    width: 400px;
    box-sizing: border-box;
}

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}
#room-details {
	width: 75%;
}

#room-details label {
	display: inline-grid;
	margin: 0;
}

#room-details select {
	width: 300px;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

form button {
    display: block;
    margin: 175px 0;
    width: 150px;
    border: none;
    background: #31a5ec;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
	font-weight: bolder;
	float: right;
}

form button:hover {
	background-color: #44cfd0;
	color: white;
}

@media only screen and (max-width: 1832px) {
	form button {
		margin: 120px 0;
	}
}

@media screen and (max-width:1280px) {
	form#search i {
		right: 11%;
	}
	article.request-form {
		height: 285px;
	}
	
	#room-details {
		width: calc(100% - 400px);
		display: grid;
	}
	form button {
		margin: 55px 0 0 60%;
	}
}

@media only screen and (max-width:898px) {
	form#search i {
		right: 11.5%;
	}
	form#request-form #p-details {
		width: 300px;
	}
}
@media only screen and (max-width:768px) {
	article.request-form {
		height: 450px;
	}
	form#request-form {
		display: grid;
	}
	#room-details {
		width: initial;
		display: grid;
	}
}