body,h3,p,ul {
	margin: 0;
	padding: 0;
	font-family: "Calibri Light", sans-serif;
	font-size: 16px;
}

/*HEADER STYLES*/
#logo {
	margin: 5px;
	width: 100px;
}

nav {
    position: fixed;
    width: -webkit-fill-available;
    z-index: 1000;
	background-color: #e67c1f;
	display: flex;
	justify-content: space-around;
	box-shadow: 0px 0px 3px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

ul {
	list-style: none;

}
/*MAIN MENU*/
nav ul {
  display: flex;
  background: #e67c1f;
  z-index: 1000;
}

li ul, #menuIcon  {
	display: none;
}

nav ul li {
  background: #e67c1f;
}

ul li a {
  display: block;
  padding: 1em;
  color: #fff;
}

ul li a:hover {
	background: #000;
	cursor: pointer;
}
/*SUBMENU*/
li:hover > ul {
  display: block;
  position: absolute;
  box-shadow: 1px 1px 10px;
}

#subMenu1 {
    margin: 0 0 0 67px;
    width: 130px;
}

li li:hover #subMenu2 {
  display: block;
  top: 125px;
  left: 130px;
  width: 130px;
}

/*Header*/
.hr-solution {
    display: flex;
    flex-direction: column;
    /*background: url("../../images/shv_sunrise_preview.jpg");*/
    background: url("https://www.publicdomainpictures.net/pictures/30000/nahled/yellow-autumn.jpg");
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 600px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hr-solution h1, .hr-solution h2 {
	text-shadow: 1px 1px 10px #fcb000;
}

.learn-more {
    width: 100px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: rgba(0, 0, 0, .7);
    font-weight: bold;
    background: transparent;
	border: 1px solid rgba(0, 0, 0, .7);
	text-shadow: 1px 1px 10px #fcb000;
}

.subscribe-now {
    width: 100px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    background: #a0ce4e;
    color: rgba(255, 255, 255, .9);
}

.learn-more:hover, .subscribe-now:hover {
	background: #a0ce4e;
    color: rgba(0, 0, 0, .7);
	border: none;
	text-shadow: none;
}

/*MAIN STYLES*/
.sec1{
	width:80%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 30px;
	box-sizing: border-box;
  min-height: 550px;
}

#sec1Heading {
	width: 100%;
}

/*FIRST ARTICLES*/
section.sec1 > article {
	background: #fff;
	display: grid;
	width: 350px;
	height: 325px;
	overflow: hidden;
	justify-items: center;
	grid-template-rows: auto 135px auto;
}

h2{
	font-family: "Verdana", sans-serif;
	text-align: center;
	font-size: 1.3em;
	font-weight: 200;
}

.sec1 img {
	opacity: 0.6;
	margin: 0 0 20px 0;
}

.sec1 article:hover {
	transform: scale(1.15);
	overflow: initial;
	box-shadow: 2px 2px 15px;
    height: max-content;
	z-index: 1000;
}

article:hover a img{
	opacity: 1;
}

p {
	padding: 15px;
	text-align: justify;

}

/*ITNEWS STYLES*/
#itNews, #numbers  {
	width: 80%;
    margin: 30px auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.itNewsArticle {
	display: flex;
	height: 200px;
	margin: 10px auto;
	width: initial;
}

.itNewsArticle img {
	display: block;
	width: 300px;
	border: 3px solid #dcdada;
}

.article-content {
	display: grid;
	grid-row-gap: 5px;
	grid-template-rows: auto 30px 55px 50px;
	margin-left: 9px;
	height: 145px;
	vertical-align: top;
}

.info {
	overflow: hidden;
}

.article-content h3 {
	font-size: 1.3rem;
}

.article-content h3, a {
	color: #72aeb4;
}

/*NUMBERS TASK STYLES*/
#numbers {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.numbers {
    display: grid;
    grid-template-rows: 165px 60px 40px;
    width: 200px;
    margin:0 25px;
    border-radius: 10px 10px;
    padding: 15px 0;
    background-color: #eeeeee;
}

#numbers h2{width: 100%; margin: 0 0 40px}

.numbers .circle {
    background-color: #FF9800;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}
.numbers .circle p {
    font-size: 30px;
    color: white;
}

.numbers > p {
    color: #b2aca4;
}

.numbers > button {
	width: 50%;
	padding: 10px;
	border-radius: 10px 10px;
	background-color: #dddddd;
	border: none;
	color: #7c746e;
    margin: 0 auto;
}

.circleBG1:hover {
	background: url("https://images.vexels.com/media/users/3/659/raw/dfa7891aa5a6c9ac147b66c2bf304f7e-vector-weather-icons.jpg") -97px -68px;
    background-size: 1200px 700px;
}
.circleBG2:hover{
	background: url("https://images.vexels.com/media/users/3/659/raw/dfa7891aa5a6c9ac147b66c2bf304f7e-vector-weather-icons.jpg") -511px -68px;
    background-size: 1200px 700px;
}

.circleBG3:hover{
	background: url("https://images.vexels.com/media/users/3/659/raw/dfa7891aa5a6c9ac147b66c2bf304f7e-vector-weather-icons.jpg") -91px -464px;
    background-size: 1200px 700px;
}

.circleBG4:hover{
	background: url("https://images.vexels.com/media/users/3/659/raw/dfa7891aa5a6c9ac147b66c2bf304f7e-vector-weather-icons.jpg") -519px -270px;
    background-size: 1200px 700px;
}

.circle:hover p {
	display: none;
}
/*
.circle:hover > p {
	color: #FF9800;
	font-weight: bold;
}*/

button:hover {
	background-color: white;
	cursor: pointer;
}

/*Footer styles*/

footer {
	background-color: #292929;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px auto 0;
}
footer .footer-article {
	background-color: #292929;
	width: 170px;
	margin: 10px;
}

.footer-h2 {
	text-transform: uppercase;
	font-size: 16px;
}
.ftr-ul {
	margin-top: 20px;
}
#links {
	display: flex;
}
.ftr-ul li {
	margin: 0px;
}
.ftr-ul li a {
	color: #FF9800;
	text-transform: capitalize;
	font-size: 18px;
	padding: 0;
}

#links li, #links li a {
	display: block;
    width: 39px;
	height: 39px;
	background-size: 593px 89px;
}

#fb{
	background: url("../../images/social.jpg") -7px -1px;
}

#in{
	background: url("../../images/social.jpg") -143px -1px;	
}

#yt{
	background: url("../../images/social.jpg") -369px -1px;
}

#tw{
	background: url("../../images/social.jpg") -53px -1px;	
}

#fb:hover{
	background: url("../../images/social.jpg") -7px 43px;
	background-size: 593px 89px;
}

#in:hover{
	background: url("../../images/social.jpg") -143px 43px;	
	background-size: 593px 89px;
}

#yt:hover{
	background: url("../../images/social.jpg") -369px 43px;
	background-size: 593px 89px;
}

#tw:hover{
	background: url("../../images/social.jpg") -53px 43px;	
	background-size: 593px 89px;
}

@media only screen and (max-width: 1440px) {
	.numbers {
		margin: 30px 8%;
	}
}

@media only screen and (max-width: 1300px) {
	.sec1{
		width:100%;
	}
  }

@media only screen and (max-width: 1024px) {
	#menuIcon {
		display: block;
		font-size: 30px;
		line-height: 50px;
	}
	
	#menuIcon:hover {
		cursor: pointer;
	}

	#mainMenu {
		display: none;
		width:-webkit-fill-available;
		flex-direction: column;
		position: absolute;
		top: 50px;	
		text-align: center;
	}
	li:hover ul li, #subMenu1, li li:hover #subMenu2 {
		width:-webkit-fill-available;
		margin: 0 auto;
		left: 0;
	}
	.itNewsArticle {
		flex-direction: column;
		height: fit-content;
		align-items: center;
	}
	
	.itNewsArticle img {
		width: 75%;
	}
	.numbers {
		margin: 30px 4%;}
	.footer-article {
		width: 40%;
	}
}

@media only screen and (max-width: 800px) {

	.itNewsArticle {
		flex-direction: column;
		height: fit-content;
    	padding: 0 0 35px;
	}
	
	.itNewsArticle img {
		width: 98%;
		margin-left: 0 auto;
	}
}
