@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #c6b198;
	color: white;
	font-family: Lato, sans-serif;
}

li {
	list-style-type: none;
}

nav {
	margin: 50px 50px;
	color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .brand,.footer-text  {
	font-weight: bold;

}
header .header-title, nav ul li a, header .header-subtitle  {
	font-weight: 400;
}

nav .brand {
	font-size: 30px;
}

nav ul {
	display: flex;
}

nav ul li a {
	color: white;
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	text-transform: uppercase;
}

nav ul li:last-of-type a {
	border: 1px solid white;
	border-radius: 30px 30px;
}

nav ul li:last-of-type a:hover {
	background-color: #8a7363;
	border: 1px solid #8a7363;
}

header, main div, .footer-text {
	text-align: center;
}

.header-title, .order-title, .potato-title {
	text-transform: capitalize;	
}

header .header-title {
	font-size: 50px;
	margin-top: 130px;
}

header .header-subtitle {
	margin-top: 30px;	
}

header .header-potato, .features-subtitle, .potato-types .potato {
	width: 285px;
}
header .header-potato {
    margin-top: 65px;
}

main div {
	color: black;
}

main div.features {
	/*background: url("images/potato-background.PNG");*/
	background-size: cover;
	background-position: center;
	padding: 100px 0 0;
}

.features-title, .features-subtitle, .order-title, .potato-title, .potato-description {
	font-weight: 300;
}
.feature-potatoes {
	width: 99%;
}

.features-subtitle {
    margin: 20px auto;
}

.buy-now {
	padding: 50px 0;
	background-color: white;
}

.potato-types {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
    padding: 0 15%;
	font-size: 30px;
}

.order-title {
	font-size: 55px;
}

.potato-types .potato {
	border-right: 2px solid #b5b5b5;
}

.potato-img {
	width: 65%;
    margin: auto;
    margin-top: 60px;
}

.potato-price, .potato-description, .footer-text {
    font-size: 20px;
}

.potato-description {
    margin-top: 25px;
}

.btn-order {
	color: #9bd230;
	border: 2px solid #9bd230;
	background: none;
	text-transform: uppercase;
	border-radius: 30px 30px;
	width: 100px;
	padding: 10px;
	margin: 25px auto;
}

.btn-order:hover {
	background-color: #9bd230;
	color: #fff;
}

footer {
	height: 55px;
	padding-top: 30px;
	background-color: #867260;
}

@media only screen and (max-width:540px){
	nav ul {
		display: initial;
	}
	nav ul li {
		margin: 15px;
	}
	.potato-types .potato {
		border-right: none;
		border-top: 2px solid #b5b5b5;
		margin: 30px 0;
	}
}