@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Open+Sans:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family:  "Open Sans", "Arial", "Comfortaa", sans-serif;
	background-color: #f4f5f7;
	font-size: 14px;
    color: #333;
	margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 270px 99%;
    grid-template-areas: 
    "aside header"
    "aside main";
}

a {
	text-decoration: none;
}

aside {
    display: grid;
    grid-area: aside;
    grid-template-rows: 130px 100px 55px;
    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 270px;
}

header {grid-area:header;}
main {grid-area:main;}

main, header {
	width: 80%;
}

aside > h1, .u-name, .label  {
    text-align: center;
}

aside > h1 {
	font-family: "Comfortaa", sans-serif;
    font-size: 3.3rem;
}

aside img {
	width: 40%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.u-name, aside ul li a, header a, main section > p, .label {    
    text-transform: uppercase;
}

.u-name {
	display: block;
    width: 100%;
    color: #b2c1c6;
    font-family: "Comfortaa", sans-serif;
    margin: 20px 0;
    font-size: 1.1rem;
}

aside ul {
	margin: 0;
	padding: 0;
}

aside ul li {
	list-style-type: none;
    padding: 10px 50px;
}

aside ul li a{
	color: #b5c3c6;
	font-size: 1.1rem;
}

aside ul li:hover{
	border-left: 3px solid #ff7739;
	padding-left: 47px;
}

aside ul li:hover a{
	color: #43484c;
}

.icons {
    width: 25px;
    display: inline-block;
}

header {
	padding: 50px 100px;
    box-sizing: border-box;
}

header h2 {
	font-size: 2rem;
    font-weight: 200;
    display: inline;
}

header h2 span {
    color: #95a4ab;
}

header a {
	background-color: #f4f5f7;
    border: 3px solid #ff7739;
    border-radius: 30px;
    padding: 10px 20px;
    color: #ff7739;
    float: right;
}
header a:hover {
	background-color: #ff7739;
    color: white;
}

main section {
	margin: 0 100px;
    color: #384850;
}

article > p, main section h3 {
    text-transform: capitalize;
}

main section h3 {
	text-transform: capitalize;
	margin: 40px 0 5px 0;
}

main section > p {
	margin:  5px 0;
}

main section article {
	display: inline-grid;
    height: 300px;
    background: white;
    margin-right: 30px;
    margin-top: 25px;
    box-shadow: 10px 10px 20px #d6d7d9;
}

article > p {
	margin: 0;
    padding: 0 30px;
}
body > main > section > article > img {
    margin-top: 50px;
}

.label {
	position: absolute;
    background: #b8c5cd;
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    margin-left: -22px;
    margin-top: 100px;
}

.draft {
	background-color: #91a5ae;
}

.listed {
	background-color: #68bb69;
}	

@media only screen and (max-width:1380px) {
    header {
        padding: 50px 65px 30px;
    }
    main section {
        margin: 0px 40px;
    }
    main section article {
        margin-right: 25px;
    }
}
@media only screen and (max-width:1318px) {
    body {
        grid-template-columns: 270px 86%;
    }
    main section {
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 898px) {
    body {
        grid-template-columns: 270px 80%;
    }
}

@media only screen and (max-width:760px) {
    body {
        grid-template-areas:
        "aside"
        "header"
        "main";
        grid-template-columns: 100%;
    }
    
    aside {
        grid-template-rows: auto;
        grid-template-areas:
        "h1 h1"
        "nav img"
        "nav span";
        position: initial;
        height: fit-content;
        width: 100%;
    }
    aside h1 {grid-area: h1;}
    aside nav {grid-area: nav;}
    aside img {grid-area: img;}
    aside span {grid-area: span;}
    main, header {
        width: 100%;
    }
    main section {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    main section article {
        margin: 25px auto;
        width: fit-content;
    }
}