@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

body {
	font-size: 14px;
	font-family: 'Tahoma', 'Helvetica', sans-serif;
}
#lSForms,header {
	width: 75%;
    margin: 0 auto;
}

form,header {
    display: grid;
}
header {
    text-align: center;
    border-bottom: 2px solid #dadada;
    grid-row-gap: 5px;
    grid-template-rows: 50% 50%;
}
h1 {
	font-weight: 100;
	margin: 20px auto 0;
    font-size: 2.5rem;
    padding: 20px;
}

#lSForms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.forms {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%
}

h2 {
	font-size: 1.5rem;
    margin: 10px 0 0;
    font-weight: bolder;
    font-family: Anton;
}

input {
	border-radius: 5px;
    line-height: 25px;
    border: 1px solid #d3d3d3;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 5px 0 5px 15px;
    width: 100%;
}

#checkMe input {
    width: initial;
}

.icon {
    position: absolute;
    font-size: 20px;
    right: 0;
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    margin-right: 20%;
    margin-top: 16px;
}

.icon.green {
	background-color: #00ff00;
}

.icon.red {
	background-color: #ff0700;
}
a {
	color: red;
    text-decoration: none;
}
form button {
	display: block;
    margin: 15px auto;
    width: 150px;
    border: 1px solid #dbdbdb;
    background: #f7f7f7;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bolder;
    float: right;
    box-shadow: 3px 3px 5px 1px #eaeaea;
}
form button:hover {
	background-color: #44cfd0;
	color: white;
}

@media (min-width: 768px) and (max-width: 1400px){
    .forms {
        width: 50%;
    }
    #new-acc form label .icon {
        right:33%;
    }
    #login-form form label .icon {
        right:-4%;   
    }
}
@media only screen and (min-width: 1400px){
    .forms {
        width: 35%;
    }
    #new-acc form label .icon {
        right:35.5%;
    }
    #login-form form label .icon {
        right:2%;   
    }
    #lSForms {
        justify-content: space-evenly;
    }
}
